@import "tailwindcss";
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    /* full-viewport gradient that won't be clipped by content */
    min-height: 100vh;
    margin: 0;
    background-image: url('https://images.pexels.com/photos/450066/pexels-photo-450066.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}   